@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelClasses.ViewModels.ChangeEmailViewModel

<h2>Change Email</h2>

<form asp-action="ChangeEmail" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="NewEmail"></label>
        <input asp-for="NewEmail" class="form-control" />
        <span asp-validation-for="NewEmail" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change email</button>
</form>